.user-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 350px;    
    margin-left: 265px;
}
  
  .user-avatar {
    width: 1000px;
    height: 1000px;
  }
  
  .user-role {
    margin-top: 30;
    font-size: larger;
  }
  