.file-wrap {
    position: relative;

  }
  
  .file-button {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .file-button:hover {
    background-color: #45a049;
  }
  
  .file-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .file-options > div {
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .file-options > div:last-child {
    border-bottom: none;
  }
  
  .file-options > div:hover {
    background-color: #f2f2f2;
  }
  
  .file-options > div > svg {
    margin-right: 10px;
  }
  
  