.root {
    flex-grow: 1;
  }
  
  .title {
    flex-grow: 1;
  }

  .logo {
    height: 100px;
    width: 500px;
    /* background-image: url(../../../../assets/images/aicte_logo.png); */
    background-repeat: no-repeat;
    margin-top: 20px;
  }