.Navbar{
    position: fixed;  /* Fixes the position */
  top: 0;  /* Stick to the top */
  left: 0;  /* Stick to the left */
  width: 100%;  /* Full width */
  z-index: 1000;
}
.login-container {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    height: 100vh; /* 100% of the viewport height */
    background-color: #f0f0f0; /* light gray background */
  } 